@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #f3eae5;
    --white: #ffffff;
    /* --max-width:1200px; */
  
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn{
    outline: none;
    border: none;
    transition: .3s;
    cursor: pointer;
}

img{
    display: flex;
    width: 100%;
}
	

a {
    text-decoration: none;
    transition: 0.3s;
}
h3{
    margin-top: -200px;
    margin-right: -150px;
}

body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(-45deg, #808080 0%, #808080 33.33%, #ffffff 33.33%, #ffffff 66.67%, #ff0000 66.67%, #ff0000 100%);
    width: fit-content;
    overflow-x: hidden;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
    background-color: #ffffff;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff0000;
    height: 80px;
}

.nav_logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin-left: 8px;
}

.nav_menu_btn{
    font-size: 1.5rem;
    cursor: pointer;
}

.nav_links{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
    background-color: #ffffff;

}

.nav_links.open{
    transform: translateY(0);
    background-color: #ff0000;
}

.nav_links a{
    font-weight: 600;
    color: var(--white);
}

.nav_links a:hover{
    color: var(--white);
    background-color: #ff0000;
    border-radius: 5px;
}

.nav_links a.Active {
    font-weight: bold;
    background-color: #ff0000;
}
.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.container_left{
    padding-inline: 1rem;
    text-align: center;
}

.container_left h1{
    margin-bottom: 2rem;
    font: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: black;
}

.container_left .btn{
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: #A9A9A9;
    border-radius: 5rem;
    font-size: large;
}

.container_left .btn:hover{
    background-color: var(--primary-color);
}

.container_right{
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
}


.container__right::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;

    animation: show .75s 1.25s ease-in-out forwards;
}

@keyframes show{
    0%{
        width: 100%;
    }

    100%{
        width: calc(100% - 2rem);
    }
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tent-1{
    max-width: 300px;
    transform: translateX(1rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.loan{
    max-width: 180px;
    transform: translateX(-1rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content{
    padding-block: 0 5rem;
    padding-inline: 2rem;
    text-align: center;
}

.content h4 {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.content h2{
    margin-bottom: 0.5rem;
    font-size: 700;
    font-weight: 700;
    letter-spacing: 2px;
    color: black;
}

.content p li{
line-height: 1.75rem;
color: black;
font-size: large;
font-weight: 500;
}

.location {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: black;
    background-color: var(--primary-color);
    border: 10px solid var(--white);
    border-bottom: none;
}

.location span {
    padding: 5px 10px;
    font-size: 1.5rem;
    color: black;
    background-color: var(--white);
    border-radius: 10px;
}





@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        height: 40px;
        width: 100%;
    }

    nav.show {
        display: flex;
    }
    .container_left h1 {
        margin-top: 40px; 
    }
    .row {
                display: flex;
                flex-wrap: wrap;
            }
            .col {
                width: 100%;
            }
            .col1,
            .col2,
            .col3 {
                width: 100%;
                margin-bottom: 20px;
            }
}
@media (width < 768px){
    .logo{
        position: flex;
        height: auto;
        width: 210px;
        margin-left: -15px;
        margin-top: 0;
        display: flex;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    } 

}

@media (width > 768px){
    .logo{
        display: none;
        padding-top: 40px;
        position: flex;
        height: auto;
        width: 260px;
        margin-left: -15px;
        margin-top: -30px;
        display: flex;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    } 
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav_header{
        flex: 1;
        padding: 0;
        background-color: transparent;
        width: 100%;
    }

    .nav_logo a {
       color: #ff0000;
    }

    .nav_menu_btn{
        display: none;
    }

    .nav_links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
        width: 100%;
    }

    .nav_links a,
    .nav_links a:hover{
        color: black;
        border-radius: 5px;
    }

    .container {
        grid-template-columns: 2fr 3fr;
        align-items: center;
        padding: 2rem 0;
    }

    .container_left {
        text-align: left;
    }
    
}
 @media (width > 1024) {
    .container_right {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .container__right::before {
        bottom: unset;
        top: 0;
        height: 90%;
    }

    .images {
        flex-direction: column;
    }

    .tent-1 {
        width: calc(100% + 10rem);
        max-width: 325px;
        transform: translate(-2rem 1rem);
    }

    .loan {
        max-width: 200px;
        transform: translate(4rem -1rem);
    }

    .content {
        padding-block: 5rem;
        text-align: left;
        max-width: 400px;
        margin-inline-start: unset;
    }
 }
 .slideshow {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slideshow iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    margin: 0 10px;
    border-radius: 10px;
}

footer {
    width: 100%;
    bottom: 0;
    background: #808080;
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.logo2{
    width:80px;
    margin-bottom: 30px;
}
.col1 {
    margin-top: 20%;
}
.col2{
    margin-top: 20%;
}
.col3{
    margin-top: 20%;
}
.col h3{
    width: 80px;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
     text-decoration: none;
     color: #fff;
}
form{
    padding-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}


